<img src="../../../images/banners/pandas-cropped.jpeg" width="600"/>

<a class="anchor" id="intro_to_data_structures"></a>
# <img src="../../../images/logos/pandas.png" width="23"/> DataFrame Part 1 (Problems)

**Question:**  
What is the definition of pandas `DataFrame`?

**Answer:**  
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

---

**Question:**  
How can you create a pandas `DataFrame`?

**Answer:**  
- Dictionary of 1D ndarrays, lists, dicts, or Series
- 2-D numpy.ndarray
- Structured or record ndarray
- A Series
- Another DataFrame

---

**Question:**  
A student wants to set the index of DataFrame to **'number1'** and **'number2'**.
As you see all the data is missed. Can you explain what happend and fix the code?
```
data = {
    'name': pd.Series(['Ali', 'Reza']),
    'age': pd.Series([25, 30]),
}
df = pd.DataFrame(data, index = ['number1', 'number2'])
print(df)
        name  age
number1  NaN  NaN
number2  NaN  NaN
```

**Answer:**  
You are creating pandas DataFrame from dictionary of Series. A Series by default has indeces: 0, 1, 2, ...

When you use `index` inside the `pd.DataFrame()` it selects the indices from the Series indices. Because there is no 'number1' and 'number2' indeces, the result is `NaN`. If you want to change the indeces, you can write the following code:
```
df = pd.DataFrame(data)
df.index = ['number1', 'number2']
print(df)
         name  age
number1   Ali   25
number2  Reza   30
```

---

**Question:**  
What is the difference between this question and previous question? Why the result isn't `NaN` in this question? What is changed?

**Answer:**  
```
data = {
    'name': ['Ali', 'Reza'],
    'age': [25, 30],
}
df = pd.DataFrame(data, index = ['number1', 'number2'])
print(df)
         name  age
number1   Ali   25
number2  Reza   30
```
Unlike the previous question, in this question the values of dictionary are `list` and Lists don't have indeces by default. When you use `index` inside the `pd.DataFrame()` there are no indeces to select, so it assigns the 'number1' and 'number2' as indeces.

---

**Question:**  
When you create a pandas DataFrame from a list of dictionaries, the keys of dictionary will be indeces or columns of DataFrame? Give an example.

**Answer:**  
They will be `columns` of DataFrame, for example:
```
data = [
    {'name': 'Ali', 'Age': 25},
    {'name': 'Reza', 'Age': 30},
]
df = pd.DataFrame(data)
print(df)
   name  Age
0   Ali   25
1  Reza   30
```

---

**Question:**  
How can you select a `column` from a pandas DataFrame (df)?

**Answer:**  
You select a column of DataFrame with its column_name. For example:
```
df['name']
```

---

**Question:**  
How can you add a new `column` to a pandas DataFrame (df)?

**Answer:**  
Simply you can use `df[new_column] = new things` or you can use `.insert()` method if you want to add new column in particular location.

---

**Question:**  
How can you delete a `column` from a pandas DataFrame (df)?

**Answer:**  
You can use `del df[column_name]` or `.pop()` method to delete a column.

---